
.Title {
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family:'Brush Script MT', cursive;
}

.bgcolor{
    background-color: #6F8FAF;
}

.container4intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4D7D50;
    border-radius: 20px;
    padding: 40px;
    width: 80%;
    margin: 100px auto;
    overflow: hidden;
}
.pic img {
    width: 500px;
    height: auto;
}

.textbimagetitle {
    font-size: 50px;
}

.textbimageinfo {
    font-size: 40px;
}

.aandcinfo {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

